.contentdiv{
    display: grid;
    grid-row-gap: 5rem;
    grid-column-gap: 10rem;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
}
.svelte-1suma1w {
    box-sizing: border-box;
    margin: .2rem 0rem;
}

@media screen and (max-width: 960px) and (min-width: 600px) {
    #all.svelte-1suma1w, .main.svelte-1suma1w {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 600px) {
    #all.svelte-1suma1w, .main.svelte-1suma1w {
        display: grid;
        grid-template-columns: auto;
    }
}