.content2inner{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.headinginner{
    text-align: center;
    margin:4rem;
    color:#d8bfee;
    font-family: "Raleway",sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
}
.content2outer{
    margin:3.2px 0px 8rem 0px;
}

#heading2.svelte-1suma1w {
    margin: 4rem;
    text-align: center;
}
.svelte-1suma1w {
    box-sizing: border-box;
    margin: .2rem 0rem;
}
#all1.svelte-1suma1w {
    grid-template-columns: auto auto;
}
#all1.svelte-1suma1w {
    display: grid;
    grid-row-gap: 5rem;
    grid-column-gap: 10rem;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
}
@media screen and (max-width: 960px) and (min-width: 600px) {
    #all1.svelte-1suma1w {
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 600px) {
    #all1.svelte-1suma1w {
        grid-template-columns: auto;
    }
}
