.heading{
    margin-top: 8rem;
    margin-bottom: 4rem;
    text-align: center;
    font-family: Raleway,sans-serif;
    color:white;
}
.heading_inside{
    font-family: "Atmospheric",sans-serif;
    color:#8A2BE2;
}
.heroinnerdiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.herodiv{
    margin-bottom:8rem;
}

#heading1.svelte-1suma1w {
    margin-top: 8rem;
    margin-bottom: 4rem;
    text-align: center;
}
.svelte-1suma1w {
    box-sizing: border-box;
    margin: .2rem 0rem;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}








