.nav {
  width: 100%; /* Full width */
  background-color: #3d3d3d74;
  display: flex;
  justify-content: center; /* Centered content */
  align-items: center;
  height: 4rem;
  margin-top: 1rem;
  border-radius: 100vh;
  font-family: "Raleway", sans-serif;
  color: white;
  backdrop-filter: blur(12px);
  position: fixed;
  top: 0;
  z-index: 4;
  cursor: pointer;
  /* Prevent text selection on mobile */
  user-select: none;
}

/* Mobile Menu Icon */
.menu-icon {
  display: none; /* Hidden by default */
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1rem;
}

/* Desktop Menu */
.desktop-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}

/* Style for links */
.nav a {
  color: white;
  text-decoration: none;
}

/* Dropdown menu styles */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3d3d3d74;
  border-radius: 5px;
  top: 100%;
  left: 0;
  z-index: 10;
}

.dropdown-content a {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #2d2d2d;
}

/* Show dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Mobile menu styles */
.mobile-menu {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  width: 40%;
  height: 100dvh;
  backdrop-filter: blur(12px);
  position: absolute;
  background-color: rgb(10, 6, 6);
  top: 0px;
  right: 0;
  z-index: 5;

  color: white;
}

.mobile-menu a {
  padding: 1.5rem;
  text-align: end;
  color: rgb(255, 255, 255);
  text-decoration: none;
  /* background-color: black; */
  display: block;
  width: 100%;
}

.mobile-menu a:hover {
  background-color: #a38b8b;
  font-size: 20px;
  transition: all 0.4s;
}

/* Show the mobile menu when the menu icon is clicked */
@media (max-width: 980px) {
  .menu-icon {
    display: flex;
    color: rgb(247, 127, 14);
  }

  .desktop-menu {
    display: none; /* Hide the desktop menu on small screens */
  }

  .mobile-menu {
    display: flex;

    margin-right: 0;
  }
  .nav {
    display: grid;
    justify-content: flex-end;
    background: none;
    backdrop-filter: blur(0);
    padding-right: 10px;
    margin-top: 0;
    padding: 0;
  }
}
