@import url("https://fonts.cdnfonts.com/css/a-atmospheric");

.container {
  height: 100vh;
  width: 100vw;
  z-index: 2;
  display: flex;
  justify-content: center;
  place-items: center;
  position: relative;
  background-color: #1d003b4d;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  color: #fff;
  flex-direction: column;
  align-items: center;
}
.slider {
  width: 100%;
  height: 100px;
  overflow: hidden;
  margin: 5rem 0;
  mask-image: linear-gradient(to right, transparent, #000, transparent);
}
.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(1000px);
  position: relative;
}

.slider .list .item {
  width: 100px;
  height: 100px;
  position: absolute;
  left: -50%;
  animation: autoRun 9s linear infinite;
  /* animation-delay: calc((10s / 7) * (var(--position) * 1-1)); */
  animation-delay: var(--position);
  transition: filter 0.5s;
}
.slider .list .item img {
  width: 100%;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.booknow {
  background-color: #28282d6c;
  position: relative;
  width: 13rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  border-radius: 15% / 40%;
}

.booknow::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.booknow::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (min-width: 930px) {
  .container {
    width: 100%;
    overflow: hidden;
    padding: 2rem 0rem;
    padding-top: 2em;
  }
}

.container h1 {
  font-size: 65px;
  font-family: "a Atmospheric", sans-serif;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media (max-width: 930px) {
  .container div h1 {
    font-size: 30px;
  }
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: -100px;
  }
}

.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}
.slider .item:hover {
  filter: grayscale(0);
}
