@import url("https://fonts.cdnfonts.com/css/a-atmospheric");

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
}

.bupal {
  display: flex;
}

.cool {
  all: unset;
  margin-right: 1em;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cool::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
  transform: translate(0);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.cool::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
  transform: translate(5px, 5px);
  width: 0px;
  height: 0px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
}

.cool:hover::after {
  width: 100%;
  height: 100%;
  top: -15px;
  right: 4px;
  z-index: 0;
}

.cool:hover::before {
  transform: scale(1.1);
}

.video {
  position: absolute;
  top: 0;
  left: -25vw;
  width: 100vw;
  height: 100vh;
  filter: grayscale(10%);
  z-index: 1;
}

.tit {
  /* background-color: black; */
  z-index: 12;
  color: white;
}
.atmos {
  font-size: 100px;
  font-family: "a Atmospheric", sans-serif;
  margin: 0;
  padding: 0;
}

@media (min-width: 930px) {
  .imgparent {
    width: 50vw;
    aspect-ratio: 0.5;
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .title {
    height: 100vh;
    display: flex;
    place-items: center;
    position: relative;
    background-color: #000;
  }
}

@media (max-width: 930px) {
  .tit {
    position: absolute;
    bottom: 1px;
    left: 4rem;
  }
}

@media (max-width: 930px) {
  .atmos {
    font-size: 35px;
  }
}

@media (max-width: 930px) {
  .video {
    top: -10vh;
    /* left: 3vw; */
    left: 0vw;
    overflow: hidden;
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .bupal {
    display: block;
  }
}

@media (max-width: 930px) {
  .bupal {
    margin-bottom: 5rem;
  }
}
