.banner {
  height: 100vh;
  width: 100vw;
  background-image: url(./../../../public/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  background-color: black;
}
